.backgroundimage {
  background-image: url("./background2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-left: 310px;
  padding: 20px;
  width: 450px;
  height: 460px;
  background: rgba(17, 15, 15, 0.5);
  border-radius: 150px;
}

.form-group input {
  display: block;
  width: 280px;
  border-radius: 10px;
  margin-left: 15%;
  text-align: center;
}

p,
label,
h3 {
  color: aliceblue;
}
